<div class = "container-tittle">
  <h2>Contactate con nosotros!</h2>
</div>
<div class="form-container">
    <form class="form">
      <div class="flex">
        <label>
          <input required="" placeholder="" type="text" class="input">
          <span>Nombre</span>
        </label>
        <label>
          <input required="" placeholder="" type="text" class="input">
          <span>Apellido</span>
        </label>
      </div>  
      <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
      </label> 
      <label>
        <input required="" type="tel" placeholder="" class="input">
        <span>Telefono</span>
      </label>
      <label>
        <textarea required="" rows="3" placeholder="" class="input01 fixed-textarea"></textarea>
        <span>Mensaje</span>
      </label>
      <button class="fancy" href="#">
        <span class="top-key"></span>
        <span class="text">ENVIAR</span>
        <span class="bottom-key-1"></span>
        <span class="bottom-key-2"></span>
      </button>
    </form>
  </div>
  