svg {
    margin-left: 50px;
}

svg:hover {
    transition: 0.3s;
    filter: drop-shadow(
        0 0 10px black
    )
}

.cart-list {
    list-style-type: none; 
    padding: 10px; 
    margin-left: 50px; 
}

.cart-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd; 
}

.cart-list button {
    background-color: #dc3545; 
    color: white; 
    border: none; 
    padding: 10px 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.cart-list button:hover {
    background-color: #c82333; 
}