<div class="container w-100 d-flex justify-content-center align-items-center">
  <div class="card">
    <img class="logo img-fluid" src="../assets/img/logoBoca.png" alt="logoBoca">
    <div class="card__content">
      <p class="card__title">Indumentaria Boca Juniors</p>
      <p class="card__description">Nos enorgullece ofrecer productos 100% originales y de la más alta calidad. Cada pieza de indumentaria que encuentras en nuestra tienda está confeccionada con los mejores materiales y lleva consigo la esencia y el espíritu de Boca Juniors. Ya sea que estés buscando la última camiseta del equipo, un regalo especial o simplemente quieras ampliar tu colección, puedes estar seguro de que cada artículo ha sido cuidadosamente seleccionado y aprobado por el club.</p>
      <p class="card__description">Av- 75 331 | 2262-579632 | Necochea</p>
    </div>
  </div>
</div>
