<table class="table">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Talle</th>
            <th scope="col">Stock</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Agregar</th>
        </tr>
    </thead>
    <tbody>
        @for (product of paginatedProducts; track product.name) {
        <tr>
            <td><img [src]="product.image" [alt]="product.name" width="100"></td>
            <td>{{product.name}}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency}}</td>
            <td>{{ product.size }}</td>
            @if (product.stock > 0) {
                <td class="badge text-bg-success">EN STOCK</td>
            } @else {
                <td class="badge text-bg-warning">NO STOCK</td>
            }
            @if (product.stock > 0) {
            <td>
                <app-input-number [(quantity)]="product.quantity" 
                    [stock]="product.stock" 
                    (maxStock)="maxStock($event)">
                </app-input-number>
            </td>
            <td><app-add-cart (click)="addToCart(product)"></app-add-cart></td>
            }
        </tr>
        }
    </tbody>
</table>
<nav class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="page === 1">
        <button class="page-link" (click)="page = page - 1">Anterior</button>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Página {{ page }}</span>
      </li>
      <li class="page-item" [class.disabled]="page * pageSize >= products.length">
        <button class="page-link" (click)="page = page + 1">Siguiente</button>
      </li>
    </ul>
  </nav>