thead {
    display: none; /* Ocultar encabezados en dispositivos móviles */
}

tr {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

th, td {
    text-align: center;
    align-items: center;
}

th {
    font-size: 20px;
    text-transform: uppercase;
}

td {
    border: none;
}

img {
    width: 120px;
    height: 120px;
    transition: 0.5s;
}

img:hover {
    height: 170px;
    width: 170px;
    transition: 0.5s;
}


/* Media query para pantallas más grandes */
@media screen and (min-width: 768px) {
    thead {
        display: table-header-group;
    }

    tr {
        display: table-row;
        margin: 0;
        align-items: initial;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    td {
        padding: 10px;
        margin: 10px;
    }

    img {
        width: 200px;
        height: 200px;
    }

    img:hover {
        height: 250px;
        width: 250px;
    }
}